/* шрифты */
@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* цвета */
/* цвета текста */
/* цвета фона */
/* цвет фона и текста кнопки */
/* базовые настройки для ссылок, кнопок, форм*/
/* базовые настройки */
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Proxima Nova Light', sans-serif;
  font-weight: normal;
}
a,
button,
input,
textarea,
select {
  outline: none;
  text-decoration: none;
}
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
/* контейнер для контента */
.container {
  max-width: 1170px;
  margin: 0px auto;
}
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 8px;
  }
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
/* кнопки */
.button {
  display: inline-block;
  padding: 2.3rem 4.3rem;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #507fe1;
  border: none;
}
.button:hover {
  background-color: #3866c7;
  transition: 0.3s;
}
/* стилизация input */
.input {
  width: 100%;
  padding: 3rem 2.5rem;
  height: 8rem;
  border: 1px solid #dddddd;
  border-right-width: 0px;
}
.input_right-border {
  border-right-width: 1px;
}
/* шапка сайта и меню сайта */
.menu {
  position: fixed;
  top: 3.3rem;
  left: 0px;
  right: 0px;
  z-index: -1;
  width: 100%;
  background-color: #507fe1;
  opacity: 0;
  transition: 0.3s;
}
.menu__wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}
.menu__link {
  font-size: 1.7rem;
  line-height: 1.471;
  text-transform: uppercase;
  color: #ffffff;
}
.js-menu_active {
  z-index: 5;
  opacity: 1;
  transform: translateY(100%);
}
.header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  background-color: #ffffff;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.3rem;
}
.header__button {
  padding: 1.6rem 2rem;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 2px solid #507fe1;
  background-color: #ffffff;
  color: #507fe1;
}
.header__button:hover {
  color: #ffffff;
  background-color: #507fe1;
  transition: 0.3s;
}
.menu-btn__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 8.3rem;
  border: none;
  border-left: 1px solid #ede6f8;
  border-right: 1px solid #ede6f8;
  background-color: #ffffff;
}
.menu-btn__line {
  margin-top: 5px;
  width: 2rem;
  height: 3px;
  background-color: #507fe1;
}
.logo__title {
  display: block;
  margin-bottom: 0.8rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.logo__description {
  font-size: 1.4rem;
}
.phone {
  text-align: right;
}
.phone__link {
  display: block;
  margin-bottom: 0.8rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: normal;
  font-size: 1.9rem;
  color: #000000;
}
.phone__description {
  font-size: 1.4rem;
  color: #868686;
}
@media (max-width: 768px) {
  .menu {
    top: -16.7rem;
  }
  .menu__wrap {
    flex-direction: column;
    height: 25rem;
  }
  .header__logo {
    position: absolute;
    left: 10rem;
  }
  .phone_hidden {
    display: none;
  }
}
@media (max-width: 480px) {
  .header__button_hidden {
    display: none;
  }
}
/* главный экран */
.main {
  margin-top: 8.3rem;
  padding-top: 10rem;
  height: 690px;
  color: #000000;
  background: url(../img/main/main-bg.jpg) top center no-repeat;
  background-size: cover;
  background-color: #f1f1f1;
}
.main__title {
  width: 27rem;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-weight: normal;
  font-size: 3rem;
}
.main__price {
  display: block;
  margin-top: 3.8rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: normal;
  font-size: 3rem;
}
.main__button {
  display: inline-block;
  margin-top: 7rem;
}
@media (max-width: 992px) {
  .main {
    background-size: cover;
    background-position: 40% 0%;
  }
}
@media (max-width: 768px) {
  .main {
    background-position: 35% 0%;
  }
}
@media (max-width: 480px) {
  .main {
    background: url(../img/main/main-bg-xs.jpg) 43% 0% no-repeat;
    background-size: cover;
  }
}
/* Оставьте заявку на расчет */
.offer {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #f1f1f1;
}
.offer__form-wrap {
  margin-left: auto;
  margin-right: auto;
  margin-top: -19.8rem;
}
.form-wrap {
  max-width: 100%;
  padding: 6rem 7rem;
  font-size: 1.7rem;
  color: #000000;
  background: url(../img/offer/bg-offer.png) right center no-repeat;
  background-color: #ffffff;
  background-size: contain;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
}
.form-wrap__title {
  margin-top: 0px;
  margin-bottom: 3.5rem;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.form-wrap__subtitle {
  font-size: 2.1rem;
}
.form {
  margin-top: 5rem;
}
.form__row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.form__label {
  display: block;
  width: 100%;
}
.form__input {
  margin: 1.8rem 0px;
}
.form__button {
  margin: 1.8rem 0px;
  border: none;
  border-left: 1px solid #dddddd;
}
.checkbox {
  margin-left: 0.7rem;
  opacity: 0;
}
.checkbox:checked + .label-checkbox::before {
  background: url(../img/offer/mark.svg) center center no-repeat;
}
.label-checkbox {
  position: relative;
  margin: 0px 2.5rem 0px 2rem;
  -webkit-user-select: none;
          user-select: none;
}
.label-checkbox::before {
  content: "";
  position: absolute;
  left: -4rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #dddddd;
}
