/* шрифты */
@font-face {
  font-family: 'Proxima Nova Light';
  src: url('../fonts/ProximaNova-Light.eot');
  src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Light.woff') format('woff'), url('../fonts/ProximaNova-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../fonts/ProximaNova-Regular.eot');
  src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Regular.woff') format('woff'), url('../fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../fonts/ProximaNova-Bold.eot');
  src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/ProximaNova-Bold.woff') format('woff'), url('../fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
/* цвета */
/* цвета текста */
/* цвета фона */
/* цвет фона и текста кнопки */
/* базовые настройки для ссылок, кнопок, форм*/
/* базовые настройки */
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-family: 'Proxima Nova Light', sans-serif;
  font-weight: normal;
}
a,
button,
input,
textarea,
select {
  outline: none;
  text-decoration: none;
}
a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}
a:hover {
  text-decoration: none;
}
/* контейнер для контента */
.container {
  max-width: 1170px;
  margin: 0px auto;
}
/* класс для секций */
.section {
  padding: 10rem 0px;
  text-align: center;
  /* заголовки секций*/
}
.section__title {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  text-transform: uppercase;
}
/* кнопки */
.button {
  display: inline-block;
  padding: 2.3rem 4.3rem;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #507fe1;
  border: none;
}
.button:hover {
  background-color: #3866c7;
  transition: 0.3s;
}
/* стилизация input */
.input {
  width: 100%;
  padding: 3rem 2.5rem;
  height: 8rem;
  border: 1px solid #dddddd;
}
/* медиа запросы */
@media (max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media (max-width: 992px) {
  html {
    font-size: 8px;
  }
  .container {
    max-width: 750px;
  }
}
@media (max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .section {
    padding: 8rem 0rem;
  }
}
@media (max-width: 480px) {
  .input {
    padding: 2rem 2rem;
    height: 6rem;
  }
  .section__title {
    font-size: 2.8rem;
  }
}
/* шапка сайта и меню сайта */
.menu {
  position: fixed;
  top: 3.3rem;
  left: 0px;
  right: 0px;
  z-index: -1;
  width: 100%;
  background-color: #507fe1;
  opacity: 0;
  transition: 0.3s;
}
.menu__wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5rem;
}
.menu__link {
  font-size: 1.7rem;
  line-height: 1.471;
  text-transform: uppercase;
  color: #ffffff;
}
.js-menu_active {
  z-index: 5;
  opacity: 1;
  transform: translateY(100%);
}
.header {
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 10;
  background-color: #ffffff;
}
.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 8.3rem;
}
.header__button {
  padding: 1.6rem 2rem;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
  text-transform: uppercase;
  border: 2px solid #507fe1;
  background-color: #ffffff;
  color: #507fe1;
}
.header__button:hover {
  color: #ffffff;
  background-color: #507fe1;
  transition: 0.3s;
}
.menu-btn__button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 8.3rem;
  border: none;
  border-left: 1px solid #ede6f8;
  border-right: 1px solid #ede6f8;
  background-color: #ffffff;
}
.menu-btn__line {
  margin-top: 5px;
  width: 2rem;
  height: 3px;
  background-color: #507fe1;
}
.logo__title {
  display: block;
  margin-bottom: 0.8rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  text-transform: uppercase;
}
.logo__description {
  font-size: 1.4rem;
}
.phone {
  text-align: right;
}
.phone__link {
  display: block;
  margin-bottom: 0.8rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: normal;
  font-size: 1.9rem;
  color: #000000;
}
.phone__description {
  font-size: 1.4rem;
  color: #868686;
}
@media (max-width: 768px) {
  .menu {
    top: -16.7rem;
  }
  .menu__wrap {
    flex-direction: column;
    height: 25rem;
  }
  .header__logo {
    position: absolute;
    left: 10rem;
  }
  .phone_hidden {
    display: none;
  }
}
@media (max-width: 480px) {
  .header__button_hidden {
    display: none;
  }
}
/* главный экран */
.main {
  margin-top: 8.3rem;
  padding-top: 10rem;
  height: 690px;
  color: #000000;
  background: url(../img/main/main-bg.jpg) top center no-repeat;
  background-size: cover;
  background-color: #f1f1f1;
}
.main__title {
  width: 27rem;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-weight: normal;
  font-size: 3rem;
}
.main__price {
  display: block;
  margin-top: 3.8rem;
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: normal;
  font-size: 3rem;
}
.main__button {
  display: inline-block;
  margin-top: 7rem;
}
@media (max-width: 992px) {
  .main {
    background-size: cover;
    background-position: 40% 0%;
  }
}
@media (max-width: 768px) {
  .main {
    background-position: 35% 0%;
  }
}
@media (max-width: 480px) {
  .main {
    background: url(../img/main/main-bg-xs.jpg) 43% 0% no-repeat;
    background-size: cover;
  }
}
/* Оставьте заявку на расчет */
.offer {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: #f1f1f1;
}
.offer__form-wrap {
  margin-left: auto;
  margin-right: auto;
  margin-top: -19.8rem;
}
.form-wrap {
  max-width: 100%;
  padding: 6rem 7rem;
  font-size: 1.7rem;
  color: #000000;
  background: url(../img/offer/bg-offer.png) right center no-repeat;
  background-color: #ffffff;
  background-size: contain;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
}
.form-wrap__title {
  margin-top: 0px;
  margin-bottom: 3.5rem;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-weight: 700;
  font-size: 2.5rem;
  text-transform: uppercase;
}
.form-wrap__subtitle {
  font-size: 2.1rem;
}
.form {
  margin-top: 5rem;
}
.form__row {
  display: flex;
  align-items: center;
  max-width: 900px;
}
.form__label {
  display: block;
  width: 100%;
}
.form__input {
  margin: 1.8rem 0px;
  border-right-width: 0px;
}
.form__input_right-border {
  border-right-width: 1px;
}
.form__button {
  margin: 1.8rem 0px;
  border: none;
  border-left: 1px solid #dddddd;
  box-shadow: none;
}
.form__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.form__checkbox:checked + .form__label-checkbox::before {
  background: url(../img/offer/mark.svg) center center no-repeat;
}
.form__label-checkbox {
  position: relative;
  margin: 0px 4rem 0px 4rem;
  -webkit-user-select: none;
          user-select: none;
}
.form__label-checkbox:hover {
  cursor: url(../img/offer/cursor-link.png), pointer;
}
.form__label-checkbox::before {
  content: "";
  position: absolute;
  left: -4rem;
  top: 50%;
  transform: translateY(-50%);
  width: 2.5rem;
  height: 2.5rem;
  border: 1px solid #dddddd;
}
@media (max-width: 1200px) {
  .form-wrap {
    background-position: 115% 0%;
  }
}
@media (max-width: 992px) {
  .form-wrap {
    background-position: 120% 0%;
  }
}
@media (max-width: 768px) {
  .form-wrap {
    padding: 5rem 6rem;
    background-image: none;
  }
  .form-wrap__title {
    margin-bottom: 2rem;
  }
  .form {
    margin-top: 2.5rem;
  }
  .form__row {
    flex-direction: column;
  }
  .form__row_row {
    flex-direction: row;
  }
  .form__input {
    margin: 1.2rem 0px;
    border: 1px solid #dddddd;
  }
  .form__button {
    margin: 1.2rem 0px;
  }
}
@media (max-width: 480px) {
  .form-wrap {
    padding: 4rem 2rem 2rem 2rem;
  }
  .form-wrap__title {
    font-size: 2rem;
    text-align: center;
  }
  .form-wrap__subtitle {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
  }
}
/* Наши преимущества */
.feature__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.feature__block {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
  width: 33.33%;
}
.feature__image {
  margin-bottom: 3.4rem;
}
.feature__text {
  font-family: 'Proxima Nova Light', sans-serif;
  font-weight: normal;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .feature__block {
    margin-top: 6rem;
    width: 50%;
  }
}
@media (max-width: 480px) {
  .feature__block {
    margin-top: 6rem;
    width: 100%;
  }
}
/* Каталог скинали */
.catalog {
  background-color: #f5f6f8;
}
.catalog__wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 10rem;
}
.catalog__block {
  position: relative;
  max-width: 570px;
  min-width: 280px;
  flex-basis: 50%;
  min-height: 100px;
  margin-bottom: 3rem;
  box-shadow: 6.553px 4.589px 21px 0px rgba(0, 0, 0, 0.1);
}
.catalog__btn-wrap {
  margin-top: 2.5rem;
}
.catalog__text {
  display: block;
  margin-top: 2.5rem;
  font-family: 'Proxima Nova Light', sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
}
.item {
  color: #ffffff;
}
.item__margin_right {
  margin-right: 3rem;
}
.item__task {
  position: absolute;
  top: 1.1rem;
  left: 1.1rem;
  padding: 1.1rem;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
  background-color: rgba(80, 127, 225, 0.6);
}
.item__img {
  width: 100%;
  height: 100%;
}
.item__btn-wrap {
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: flex-end;
  align-self: bottom;
}
.item__button {
  height: 2.9rem;
  font-family: 'Proxima Nova Regular', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  text-transform: uppercase;
  border: none;
  background-color: #6a99e9;
  color: #ffffff;
}
.item__button:hover {
  cursor: url(../img/offer/cursor-link.png), pointer;
}
.item__try {
  width: 14rem;
}
.item__try:hover {
  transition: 0.3s;
  background-color: #ffffff;
  color: #6a99e9;
}
.item__order {
  width: 7.5rem;
}
.item__order:hover {
  transition: 0.3s;
  background-color: #ffffff;
  color: #6a99e9;
}
.item__like {
  position: relative;
  width: 3rem;
  background-color: #507fe1;
}
.item__like:hover {
  background-color: #3866c7;
}
.item__like-img {
  width: 1.4rem;
  height: 1.4rem;
  line-height: 3rem;
  vertical-align: middle;
}
@media (max-width: 1200px) {
  .catalog__block {
    flex-basis: 48.3%;
  }
}
@media (max-width: 768px) {
  .catalog__block {
    flex-basis: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 480px) {
  .item__task {
    position: absolute;
    top: 0rem;
    left: 0rem;
    padding: 0.5rem;
  }
  .item__button {
    height: 2.5rem;
  }
}
