/* базовые настройки */
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  .light;
}
a, button, input, textarea, select {
  outline: none;
  text-decoration: none;
  &:focus {
    outline: none;
  }
}
a:hover {
  text-decoration: none;
  cursor: url(../img/offer/cursor-link.png), pointer;
}
a:active {
  color: @text-dark;
}
/* контейнер для контента */
.container {
  max-width: 1170px;
  margin: 0px auto;
}
/* класс для секций */
.section {
  padding: 10rem 0px;
  text-align: center;
/* заголовки секций*/
  &__title{
    margin-bottom: 10rem;
    .bold(700);
    font-size: 3rem;
    text-transform: uppercase;
  }
}
/* кнопки */
.button {
  display: inline-block;
  padding: 2.3rem 4.3rem;
  .regular(700);
  font-size: 1.5rem;
  text-transform: uppercase;
  color: @text-light;
  background-color: @btn-color;
  border: none;
  &:hover {
    background-color: @btn-color_hover;
    transition: 0.3s;
  }
}
/* стилизация input */
.input {
  width: 100%;
  padding: 3rem 2.5rem;
  height: 8rem;
  border: 1px solid #dddddd;
}
/* медиа запросы */
@media(max-width: 1200px) {
  .container {
    max-width: 970px;
  }
}
@media(max-width: 992px) {
  html{
    font-size: 8px;
  }
  .container {
    max-width: 750px;
  }
}
@media(max-width: 768px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .section{
    padding: 8rem 0rem;
  }
}
@media(max-width: 480px) {
  .input {
    padding: 2rem 2rem;
    height: 6rem;
  }
  .section{
&__title{
  font-size: 2.8rem;
  }
}
}