.offer {
  padding-top: 10rem;
  padding-bottom: 10rem;
  background-color: @bg-offer;
  &__form-wrap {
      margin-left: auto;
      margin-right: auto;
      margin-top: -19.8rem;
  }
  &_light-bg {
    background-color: @bg-light;
  }
}
.form-wrap {
  &_bg-one {
    background: url(../img/offer/bg-offer-one.png) right center no-repeat;
    background-size: contain;
    background-color: @bg-light;
  }
  &_bg-two {
    margin-top: -26.8rem;
    background: url(../img/offer/bg-offer-two.png) right center no-repeat;
    background-size: contain;
    background-color: @bg-light;
  }
  max-width: 100%;
  padding: 6rem 7rem;
  font-size: 1.7rem;
  color: @text-dark;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
  &__title {
    margin-top: 0px;
    margin-bottom: 3.5rem;
    .regular(700);
    font-size: 2.5rem;
    text-transform: uppercase;
  }
  &__subtitle {
    font-size: 2.1rem;
    &_max-width {
      display: inline-block;
      width: 83.5rem;
    }
  }
}
.form {
  margin-top: 5rem;
  &__row {
    display: flex;
    align-items: center;
    max-width: 900px;
  }
  &__label {
    display: block;
    width: 100%;
  }
  &__input {
    margin: 1.8rem 0px;
    border-right-width: 0px;
    &_right-border {
      border-right-width: 1px;
    }
  }
  &__button {
    margin: 1.8rem 0px;
    max-width: 30rem;
    border: none;
    border-left: 1px solid #dddddd;
    box-shadow: none;
  }
  &__checkbox {
    position: absolute;
    z-index: -1;
    opacity: 0;
      &:checked +.form__label-checkbox::before{
        background: url(../img/offer/mark.svg) center center no-repeat;
      }
  }
  &__label-checkbox {
    position: relative;
    margin: 0px 4rem 0px 4rem;
    user-select: none;
    &:hover{
      cursor: url(../img/offer/cursor-link.png), pointer;
    }
    &::before{
      content:"";
      position: absolute;
      left: -4rem;
      top: 50%;
      transform: translateY(-50%);
      width: 2.5rem;
      height: 2.5rem;
      border: 1px solid #dddddd;
    }
  }
  &__policy {
    margin-left: 4.5rem;
    &_max-width {
      max-width: 36rem;
    }
  }
}
.select {
  position: relative;
  &::after {
    content: "";
    position: absolute;
    top: 3rem;
    right: 19px;
    width: 25px;
    height: 25px;
    background: url(../../img/offer/offer-arrow.png) center no-repeat;
    transform: rotate(0deg);
    transition: all 0.3s;
  }
  &.on::after {
    transform: rotate(180deg);
  };
  &__wrap {
    position: absolute;
    top: 101%;
    left: 0px;
    z-index: -10;
    visibility: hidden;
    height: 0px;
    width: 100%;
    border: 1px solid #dddddd;
    background-color: #fff;
    transition: all 0.3s;
    &_active {
      z-index: 10;
      visibility: visible;
      height: 100px;
      transition: all 0.3s;
    }
  }
  &__option {
    display: block;
    padding: 1.5rem 0 1.5rem 2.4rem;
    &:hover {
      background-color: rgba(0, 0, 0, 0.1);
    }
  }
}
@media (max-width: 1200px) {
  .form-wrap {
    &_bg-one,&_bg-two {
      background-position: 115% 0%;
    }
    &__subtitle {
      &_max-width {
        max-width: 71rem;
      }
    }
  }
  .form {
  &__policy {
    &_max-width {
      max-width: 27rem;
      }
    }
  &__button {
    max-width: 27.7rem;
  }
  }
}
@media (max-width: 992px) {
  .form-wrap {
    &_bg-one,&_bg-two {
      background-position: 120% 0%;
    }
  }
  .form {
  &__button {
    max-width: 26.6rem;
  }
  }
}
@media (max-width: 768px) {
  .form-wrap {
    padding: 5rem 6rem;
    background-image: none;
    &__title{
      margin-bottom: 2rem;
    }
    &__subtitle {
      &_max-width {
        max-width: 100%;
      }
    }
  }
  .form {
    margin-top: 2.5rem;
    &__row {
      flex-direction: column;
      &_row {
        flex-direction: row;
      }
    }
    &__input {
      margin: 1.2rem 0px;
      border: 1px solid #dddddd;
    }
    &__button {
      margin: 1.2rem 0px;
    }
    &__policy {
      margin-left: 0px;
      text-align: center;
      &_max-width {
        max-width: 100%;
      }
    }
  }
}
@media(max-width: 480px) {
  .form-wrap {
    padding: 4rem 2rem 2rem 2rem;
    &__title {
      font-size: 2rem;
      text-align: center;
    }
    &__subtitle {
      display: inline-block;
      font-size: 2rem;
      text-align: center;
    }
  }
  .form {
    &__button {
      max-width: 100%;
    }
  }
}